@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom right, #e8552c, rgb(168, 195, 78), #5699eb);
    background-size: 100% 100%;
    background-repeat: repeat-y;
}

h1 {
    text-align: center;
    color: rgb(124, 1, 1);
    margin-top: 20px;
    border-bottom: 2px solid #b32121;
}

.cards {
    padding: 40px 0px 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

img {
    width: 15rem;
    height: 15rem;
    border-radius: 20px 20px 0px 0px;
}

video {
    width: 15rem;
    height: 15rem;
    border-radius: 35px 35px 0px 0px;
    position: relative;
    top: -8px;
}

.art {
    box-shadow: 5px 5px 25px -5px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

button {
    min-width: 4rem;
    height: 40px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    font-family: 'Pacifico', cursive;
    letter-spacing: 1.5px;
    transition: 0.2s;
    border: 2px solid white;
}

button:hover {
    background: transparent;
    border: 2px solid white;
}

div .about {
    width: 80%;
}

footer {
    width: 98%;
    text-align: center;
    padding: 40px 0px 20px 0px;
}